<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TBC Bank UI - Staggered Parallel" parallel="tests" thread-count="2" preserve-order="true">

    <!-- Consumer Loan Calculator Test -->
    <test name="ConsumerLoanCalculatorTest - Desktop">
        <parameter name="device" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.ConsumerLoanCalculatorTest"/>
        </classes>
    </test>

    <test name="ConsumerLoanCalculatorTest - Mobile">
        <parameter name="device" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.ConsumerLoanCalculatorTest"/>
        </classes>
    </test>

    <!-- Currency Exchange Test -->
    <test name="CurrencyExchangeTest - Desktop">
        <parameter name="device" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.CurrencyExchangeTest"/>
        </classes>
    </test>

    <test name="CurrencyExchangeTest - Mobile">
        <parameter name="device" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.CurrencyExchangeTest"/>
        </classes>
    </test>

    <!-- Money Transfer Test -->
    <test name="MoneyTransferTest - Desktop">
        <parameter name="device" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.MoneyTransferTest"/>
        </classes>
    </test>

    <test name="MoneyTransferTest - Mobile">
        <parameter name="device" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.MoneyTransferTest"/>
        </classes>
    </test>

    <!-- Locations City Filter Test -->
    <test name="LocationsCityFilterTest - Desktop">
        <parameter name="device" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.LocationsCityFilterTest"/>
        </classes>
    </test>

    <test name="LocationsCityFilterTest - Mobile">
        <parameter name="device" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.LocationsCityFilterTest"/>
        </classes>
    </test>

    <!-- Locations Test -->
    <test name="LocationsTest - Desktop">
        <parameter name="device" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.LocationsTest"/>
        </classes>
    </test>

    <test name="LocationsTest - Mobile">
        <parameter name="device" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tbcbankapp.tests.LocationsTest"/>
        </classes>
    </test>

</suite>